:host {
    display: inline-flex;
    width: 18px;
    height: 18px;
    align-items: center;
    justify-items: center;
    fill: black;
}

.filled-success-circle-svg {
    flex-grow: 1;

    &__tick {
        fill: transparent;
    }
}
