<div class="training-real">
  <div class="training-real__articles">
    <div class="training-real__article">
      <div class="training-real__article_l">
        <documents-svg></documents-svg>
        <a class="training-real__article-name">Документация</a>
      </div>
      <div>
          <chevron-right-svg></chevron-right-svg>
      </div>
    </div>
    <div class="training-real__article">
      <div class="training-real__article_l">
        <app-video></app-video>
        <a class="training-real__article-name">Видеоматериалы</a>
      </div>
      <div>
        <chevron-right-svg></chevron-right-svg>
      </div>
    </div>
  </div>
</div>
