<div class="training-page">
  <div class="training-page__themes">
    <div class="training-page__theme">
      <div class="training-page__theme_l">
        <cyber-security-svg></cyber-security-svg>
        <a class="training-page__theme-name" (click)="goToPassTest()">Информационная безопасность</a>
      </div>
      <div>
        @if(isPassed) {
          <success-svg></success-svg>
        } @else {
          <chevron-right-svg></chevron-right-svg>
        }
      </div>
    </div>
  </div>
</div>
